<template name="gamePageActions">
  {{#with game}}
    <h2>
      Game created by
      <span class="small">{{author}}</span>
    </h2>
    {{#unless gameFull}}
      {{#unless inGame}}
        <a class="btn btn-success btn-lg join action-button" href="#">Join game</a>
      {{/unless}}
    {{/unless}}
    {{#if gameReady}}
      {{#if ownGame}}
        <a class="btn btn-success btn-lg start action-button" href="#">Start game</a>
      {{/if}}
    {{/if}}
    <p>
      {{#if inGame}}
        <a class="btn btn-danger leave action-button" href="#">Leave game</a>
      {{/if}}
      {{#if ownGame}}
        <a class="btn btn-danger delete action-button" href="#">Cancel game</a>
      {{/if}}
    </p>
  {{/with}}
</template>

<template name="players">
  <h3>Players</h3>
  <ol>
    {{#each players}}
      <li>{{name}}</li>
    {{else}}
      <p>nobody joined yet :-(</p>
    {{/each}}
  </ol>
  <p>min {{minPlayer}} recommended to start the game</p>
</template>

<template name="selectedBoard">
  <h3>Board</h3>
  {{#with boardData}}
    <div class="selected-board" style="clear:both;">
      {{> thumbnail}}
    </div>
    {{#if ownGame}}
      <p>
        <a class="btn btn-primary select action-button" href="#">Change board</a>
      </p>
    {{/if}}
  {{/with}}
</template>
